<!DOCTYPE HTML>
<html>
  <head>
    <title>Team 3140</title>
    <link rel="stylesheet" href="/static/index.css" >
    <link rel="shortcut icon" href="/static/favicon.ico" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/slidesjs/slides.jquery.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="imagethingy" class="backgroundLogo"></div>
      <div class="header">
	{% block header %}
	{% for index, (href, button) in g.buttons %}
	<span 
	   class="button{{ "-first" if index == 0 else "-last" if index == g.buttlen else ""}}"
	   id="{{ href }}">
	  <a href="{{ url_for("show_page", page=href) }}">{{ button }}</a>
	</span>
	{% endfor %}
	{% endblock %}
      </div>
      <div id="content">
	{% block content %}{% endblock %}
      </div>
    </div>
    <div class="spacer">&nbsp;</div>
    <div id="chalkWrapper"><div id="backgroundchalk"></div></div>
    <script type="text/javascript">{% block javascript %}{% endblock %}</script>
  </body>
</html>
